name: Run tests

on:
  push:
    branches:
      - master
      - production
  pull_request:
    branches:
      - master
      - production
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 3 * * 6"
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason"
        required: false
        default: "Manual trigger"

jobs:
  Tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip freeze

      - name: Build
        run: mkdocs build --clean --strict -v

      - name: Check links
        uses: untitaker/hyperlink@0.1.44
        with:
          args: site/ --sources docs/
